@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --turquoise: #40e0d0;
  --turquoise-dark: #195f5c;
  --turquoise-deep: #133e3b;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--turquoise-deep);
  color: var(--foreground);
  scroll-behavior: smooth;
}

